Source: swt-gtk
Section: libs
Priority: optional
Maintainer: Adrian Perez <adrianperez.deb@gmail.com>
Build-Depends: default-jdk-builddep, libgnomeui-dev, libxtst-dev,
 xulrunner-dev, libxcb-render-util0-dev, libxt-dev,
 libgl1-mesa-dev | libgl-dev, libglu1-mesa-dev | libglu-dev,
 fastjar, cdbs, patchutils, debhelper (>> 7.0)
Standards-Version: 3.8.2
Homepage: http://www.eclipse.org/swt/

Package: libswt-gtk-3.4-java
Architecture: any
Section: java
Depends: libswt-gtk-3.4-jni (= ${binary:Version})
 | libswt3.4-gtk-jni (= 3.4.2), ${misc:Depends}
Suggests: libswt-gtk-3.4-java-gcj
Description: Standard Widget Toolkit for GTK+ Java library
 The SWT component is designed to provide efficient, portable access to
 the user-interface facilities of the operating systems on which it is
 implemented.
 .
 This package includes the SWT JAR libraries.

Package: libswt-gtk-3.4-jni
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: libswt-gnome-gtk-3.4-jni
Conflicts: libswt3.4-gtk-jni
Description: Standard Widget Toolkit for GTK+ JNI library
 The SWT component is designed to provide efficient, portable access to
 the user-interface facilities of the operating systems on which it is
 implemented.
 .
 This package includes the JNI libraries.

Package: libswt-gnome-gtk-3.4-jni
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libswt3.4-gtk-jni 
Description: Standard Widget Toolkit for GTK+ GNOME JNI library
 The SWT component is designed to provide efficient, portable access to
 the user-interface facilities of the operating systems on which it is
 implemented.
 .
 This package includes the GNOME JNI library.

Package: libswt-mozilla-gtk-3.4-jni
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libswt3.4-gtk-jni
Description: Standard Widget Toolkit for GTK+ Mozilla JNI library
 The SWT component is designed to provide efficient, portable access to
 the user-interface facilities of the operating systems on which it is
 implemented.
 .
 This package includes the Mozilla JNI libraries.

Package: libswt-cairo-gtk-3.4-jni
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libswt3.4-gtk-jni
Description: Standard Widget Toolkit for GTK+ Cairo JNI library
 The SWT component is designed to provide efficient, portable access to
 the user-interface facilities of the operating systems on which it is
 implemented.
 .
 This package includes the Cairo JNI libraries.

Package: libswt-glx-gtk-3.4-jni
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libswt3.4-gtk-jni
Description: Standard Widget Toolkit for GTK+ GLX JNI library
 The SWT component is designed to provide efficient, portable access to
 the user-interface facilities of the operating systems on which it is
 implemented.
 .
 This package includes the GLX JNI libraries.

Package: libswt-gtk-3.4-java-gcj
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
 libswt-cairo-gtk-3.4-jni (= ${binary:Version}),
 libswt-glx-gtk-3.4-jni (= ${binary:Version}),
 libswt-gnome-gtk-3.4-jni (= ${binary:Version}),
 libswt-gtk-3.4-jni (= ${binary:Version}),
 libswt-mozilla-gtk-3.4-jni (= ${binary:Version})
Description: Standard Widget Toolkit for GTK+ native library
 The SWT component is designed to provide efficient, portable access to
 the user-interface facilities of the operating systems on which it is
 implemented.
 .
 This package contains a native library built using gcj.
